name: Deploy to Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure Pages
        uses: actions/configure-pages@v3

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: 'docs'

      - name: Deploy to Pages
        id: deployment
        uses: actions/deploy-pages@v2
